.w-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
	height: 100%;
	width: 11.11%;
  padding: 10px;
  min-height: 50px;
  border: 1px solid #333333;
}
.w2-boxes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
	height: 100%;
	width: 11.11%;
  min-height: 50px;
  border: 1px solid #333333;
}
.flags {
  position: absolute;
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #0e9634;
  top: 0px;
  left: 0px;
}